doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.bg-zinc-800
    div.p-8
      h1.text-6xl.text-blue-500.text-center.font-bold Spotugafy
      div.text-white.mt-12
        block content
